= simple_form_for(@post) do |f|
  = f.error_notification

  .inputs
    = f.hidden_field :user_id, value: current_user.id
    %strong writer
    = current_user.email
    = f.input :title
    = f.input :entry

  .actions
    = f.button :submit
