%h1 Listing posts

%table
  %tr
    %th User
    %th Title
    %th Entry
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.user_id
      %td= post.title
      %td= post.entry
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
